table {
    width: 100%;
}

  .container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto;
  }

  .table {
    border-radius: 8px;
    overflow: hidden;
  }

  th, td {
    text-align: center;
  }

  .thead-dark th {
    background-color: #3f51b5; /* Bootstrap dark theme color */
    color: #ffffff; /* White text for better visibility */
  }

  .badge {
    font-size: 0.85rem;
    padding: 0.5em 1em;
  }

  .bg-success {
    background-color: #28a745; /* Bootstrap success color */
  }
